node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store


node_modules/
viewer/src/assets/sample.lapsq
viewer/src/assets/sample/assets/0.mp4
viewer/src/assets/sample/assets/1.mp4
viewer/src/assets/sample/assets/2.mp4
viewer/src/assets/sample/assets/3.mp4
