node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store


node_modules/
viewer/src/assets/sample.lapsq
viewer/src/assets/sample/assets/1234.mp4
viewer/src/assets/sample/assets/2345.mp4
viewer/src/assets/sample/assets/4567.mp4
viewer/src/assets/sample/assets/3456.mp4
